{% extends "base.html" %}

{% block content %}
<div class="row p-0" id="video-chat-container">
    <input type="hidden" id="roomId" value="{{ roomId }}">
    <div class="col-9 bg-dark text-light mx-1">
        <div class="container h-75 mt-4" id="playerContainer">
            <div id="player"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <br>
                        <span class="display-5"><u>Picked By:</u></span>
                        <br>
                        <span class="display-4 text-danger" id="videoUser"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="container text-right">
                        <br>
                        <span class="display-5"><u>Suggest Next Video:</u></span>
                        <br>
                        <br>
                        <form id="nextVideoForm">
                            <div class="input-group">
                                <input type="hidden" id="nextVideoUser" value="{{ user.username }}">
                                <input type="text" class="form-control" placeholder="Youtube Video URL" id="nextVideo">
                                <div class="input-group-append">
                                    <button class="btn btn-danger" type="button" id="nextVideoSubmit">Queue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="col bg-dark p-0 text-center text-light mx-1">
        <h2>Chat</h2>
        <small>Type "!help" for chat commands</small>
        <hr>
        <div class="container text-left" id="chat-all-messages"></div>
        <form id="chat-form">
            <div class="input-group">
                <input type="hidden" id="chat-user" value="{{ user.username }}">
                <input type="text" class="form-control" placeholder="Message" id="chat-message">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" id="chat-submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
{% endblock %}