body {
    background-color: #292929;
    overflow-y: hidden;
}

#video-chat-container {
    height: 81vh;
    width: 90vw;
    margin: 15px auto;
}

#chat-form {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#chat-all-messages {
    height: 81vh;
    width: 95%;
    margin: 0 auto 25px;
    overflow: auto;
}

#room-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.homeDiv {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    margin: 0;
}

hr {
    margin: 3px;
}

h2 {
    margin: 3px;
}
